<!DOCTYPE html>
<html lang="en" ng-app="web365app">
<head>
    <meta charset="utf-8" />
    <title ng-bind="title">Control panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!--basic styles-->
    <link href="/Content/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Admin/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/Admin/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="/Content/Admin/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!--page specific plugin styles-->
    <!--fonts-->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!--ace styles-->
    <link rel="stylesheet" href="/Content/Admin/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="/Content/Admin/css/datepicker.css" />
    <link rel="stylesheet" href="/Content/Admin/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="/Content/Admin/css/daterangepicker.css" />
    <link rel="stylesheet" href="/Content/Admin/css/chosen.css" />
    <link rel="stylesheet" href="/Content/Admin/css/colorbox.css" />
    <link rel="stylesheet" href="/Content/Admin/css/jquery.gritter.css">
    <link rel="stylesheet" href="/Content/Admin/css/ace.min.css" />
    <link rel="stylesheet" href="/Content/Admin/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="/Content/Admin/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/Content/Admin/css/dropzone.css" />
    <link rel="stylesheet" href="/Content/Admin/css/colorpicker.css" />
    <link rel="stylesheet" href="/Content/Admin/css/site.css" />

    <!--angular styles-->
    <link href="~/Content/Admin/css/loading-bar.min.css" rel="stylesheet" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/Content/Admin/css/ace-ie.min.css" />
    <![endif]-->
    <!--inline styles related to this page-->
    @RenderSection("style", required: false)
</head>

<body ng-controller="layout">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a href="#" class="brand">
                    <small>
                        <i class="icon-leaf"></i>
                        Website manager
                        <span class="lang-cpanel"></span>
                    </small>
                </a>
                <!--/.brand-->

                <ul class="nav ace-nav pull-right">
                    @*<li class="grey">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                                <i class="icon-tasks"></i>
                                <span class="badge badge-grey">0</span>
                            </a>
                        </li>
                        <li class="purple">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                                <i class="icon-bell-alt icon-animated-bell"></i>
                                <span class="badge badge-important">0</span>
                            </a>
                        </li>
                        <li class="green">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                                <i class="icon-envelope icon-animated-vertical"></i>
                                <span class="badge badge-success">0</span>
                            </a>
                        </li>*@
                    @*<li class="grey">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="icon-tasks"></i>
                                <span class="badge badge-grey">4</span>
                            </a>

                            <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
                                <li class="nav-header">
                                    <i class="icon-ok"></i>
                                    4 Tasks to complete
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Software Update</span>
                                            <span class="pull-right">65%</span>
                                        </div>

                                        <div class="progress progress-mini ">
                                            <div style="width: 65%" class="bar"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Hardware Upgrade</span>
                                            <span class="pull-right">35%</span>
                                        </div>

                                        <div class="progress progress-mini progress-danger">
                                            <div style="width: 35%" class="bar"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Unit Testing</span>
                                            <span class="pull-right">15%</span>
                                        </div>

                                        <div class="progress progress-mini progress-warning">
                                            <div style="width: 15%" class="bar"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Bug Fixes</span>
                                            <span class="pull-right">90%</span>
                                        </div>

                                        <div class="progress progress-mini progress-success progress-striped active">
                                            <div style="width: 90%" class="bar"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        See tasks with details
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="purple">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="icon-bell-alt icon-animated-bell"></i>
                                <span class="badge badge-important">8</span>
                            </a>

                            <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
                                <li class="nav-header">
                                    <i class="icon-warning-sign"></i>
                                    8 Notifications
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">
                                                <i class="btn btn-mini no-hover btn-pink icon-comment"></i>
                                                New Comments
                                            </span>
                                            <span class="pull-right badge badge-info">+12</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="btn btn-mini btn-primary icon-user"></i>
                                        Bob just signed up as an editor ...
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">
                                                <i class="btn btn-mini no-hover btn-success icon-shopping-cart"></i>
                                                New Orders
                                            </span>
                                            <span class="pull-right badge badge-success">+8</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">
                                                <i class="btn btn-mini no-hover btn-info icon-twitter"></i>
                                                Followers
                                            </span>
                                            <span class="pull-right badge badge-info">+11</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        See all notifications
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="green">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="icon-envelope icon-animated-vertical"></i>
                                <span class="badge badge-success">5</span>
                            </a>

                            <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
                                <li class="nav-header">
                                    <i class="icon-envelope-alt"></i>
                                    5 Messages
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="/Content/Admin/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Alex:</span>
                                                Ciao sociis natoque penatibus et auctor ...
                                            </span>

                                            <span class="msg-time">
                                                <i class="icon-time"></i>
                                                <span>a moment ago</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="/Content/Admin/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Susan:</span>
                                                Vestibulum id ligula porta felis euismod ...
                                            </span>

                                            <span class="msg-time">
                                                <i class="icon-time"></i>
                                                <span>20 minutes ago</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="/Content/Admin/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Bob:</span>
                                                Nullam quis risus eget urna mollis ornare ...
                                            </span>

                                            <span class="msg-time">
                                                <i class="icon-time"></i>
                                                <span>3:15 pm</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        See all messages
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>*@

                    <li class="light-blue">
                        <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
                            <img class="nav-user-photo" src="/Content/Admin/avatars/avatar2.png" alt="@User.Identity.Name" />
                            <span class="user-info">
                                <small>Xin chào,</small>
                                @User.Identity.Name
                            </span>

                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                            <li>
                                <a href="#/profile">
                                    <i class="icon-user"></i>
                                    Tài khoản
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="javascript:;" ng-click="logout()">
                                    <i class="icon-off"></i>
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--/.ace-nav-->
            </div>
            <!--/.container-fluid-->
        </div>
        <!--/.navbar-inner-->
    </div>

    <div class="main-container container-fluid">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-small btn-success">
                        <i class="icon-signal"></i>
                    </button>

                    <button class="btn btn-small btn-info">
                        <i class="icon-pencil"></i>
                    </button>

                    <button class="btn btn-small btn-warning">
                        <i class="icon-group"></i>
                    </button>

                    <a href="#/guide" class="btn btn-small btn-danger">
                        <i class="icon-question"></i>
                    </a>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div>
            <!--#sidebar-shortcuts-->

            <ul class="nav nav-list">
                <li ng-repeat="item in listPage | filter: { Parent: null } | orderBy:'Number':false">
                    <a href="{{item.Link}}" ng-if="item.HasChild != true">
                        <i class="{{item.ClassAtrtibute}}"></i>
                        <span class="menu-text">{{item.Name}} </span>
                    </a>
                    <a href="{{item.Link}}" class="dropdown-toggle" ng-if="item.HasChild == true">
                        <i class="{{item.ClassAtrtibute}}"></i>
                        <span class="menu-text">{{item.Name}} </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu" ng-if="item.HasChild == true">
                        <li ng-repeat="item1 in listPage | filter: { Parent: item.ID } | orderBy:'Number':false">
                            <a href="{{item1.Link}}">
                                <i class="icon-double-angle-right"></i>
                                {{item1.Name}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--/.nav-list-->

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left"></i>
            </div>
        </div>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/Admin">Trang chủ</a>

                        @*<span class="divider">
                                <i class="icon-angle-right arrow-icon"></i>
                            </span>*@
                    </li>

                    @*<li>
                            <a href="#">Other Pages</a>

                            <span class="divider">
                                <i class="icon-angle-right arrow-icon"></i>
                            </span>
                        </li>
                        <li class="active">Blank Page</li>*@
                </ul>
                <!--.breadcrumb-->
                @*<div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="icon-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div>*@
                <!--#nav-search-->
            </div>

            <div class="page-content">
                <div class="row-fluid">
                    <div class="span12" ng-view>
                        <!--PAGE CONTENT BEGINS-->
                        @RenderBody()
                        <!--PAGE CONTENT ENDS-->
                    </div>
                    <!--/.span-->
                </div>
                <!--/.row-fluid-->
            </div>
            <!--/.page-content-->

            <div class="ace-settings-container" id="ace-settings-container">
                <div class="btn btn-app btn-mini btn-warning ace-settings-btn" id="ace-settings-btn">
                    <i class="icon-cog bigger-150"></i>
                </div>

                <div class="ace-settings-box" id="ace-settings-box">
                    <div>
                        <div class="pull-left">
                            <select id="skin-colorpicker" class="hide">
                                <option data-class="default" value="#438EB9" />
                                #438EB9
                                <option data-class="skin-1" value="#222A2D" />
                                #222A2D
                                <option data-class="skin-2" value="#C6487E" />
                                #C6487E
                                <option data-class="skin-3" value="#D0D0D0" />
                                #D0D0D0
                            </select>
                        </div>
                        <span>&nbsp; Giao diện</span>
                    </div>

                    <div>
                        <input type="checkbox" class="ace-checkbox-2" id="ace-settings-header" />
                        <label class="lbl" for="ace-settings-header">Giữ header</label>
                    </div>

                    <div>
                        <input type="checkbox" class="ace-checkbox-2" id="ace-settings-sidebar" />
                        <label class="lbl" for="ace-settings-sidebar">Giữ menu</label>
                    </div>

                    <div>
                        <input type="checkbox" class="ace-checkbox-2" id="ace-settings-breadcrumbs" />
                        <label class="lbl" for="ace-settings-breadcrumbs">Giữ Breadcrumbs</label>
                    </div>

                    <div>
                        <input type="checkbox" class="ace-checkbox-2" id="ace-settings-rtl" />
                        <label class="lbl" for="ace-settings-rtl">Phải qua trái (rtl)</label>
                    </div>
                    <div style="width:140px; max-height:30px;">
                        <select class="chzn-select" id="sl-chosen-language" data-placeholder="Ngôn ngữ...">
                            <option value="1" />Tiếng Việt
                            <option value="2" />Tiếng Anh
                        </select>
                    </div>
                </div>
            </div>
            <!--/#ace-settings-container-->
        </div>
        <!--/.main-content-->
    </div>
    <!--/.main-container-->
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>

    @* Modal form *@
    <div id="modal-form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="modalFormLabel">Modal header</h3>
        </div>
        <div class="modal-body modal-ajaxForm">
            <p>Loading…</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Đóng</button>
            <button class="btn btn-primary btnSaveModifiedFrom">Lưu</button>
        </div>
    </div>
    @*  End modal form *@

    <!--angular scripts-->
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular/angular-animate.min.js"></script>
    <script src="~/Scripts/angular/angular-route.min.js"></script>
    <script src="~/Scripts/angular/loading-bar.min.js"></script>
    <script src="~/Scripts/angular/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="~/Scripts/admin/app/app.js"></script>
    <script src="~/Scripts/admin/config/config.js"></script>
    <script src="~/Scripts/admin/utility/utility.js"></script>
    <!--angular scripts services-->
    <script src="~/Scripts/admin/services/authInterceptorService.js"></script>
    <script src="~/Scripts/admin/services/baseService.js"></script>
    <script src="~/Scripts/admin/services/productService.js"></script>
    <script src="~/Scripts/admin/services/productVariantService.js"></script>
    <script src="~/Scripts/admin/services/productTypeService.js"></script>
    <script src="~/Scripts/admin/services/productManufacturerService.js"></script>
    <script src="~/Scripts/admin/services/productDistributorService.js"></script>
    <script src="~/Scripts/admin/services/productStatusService.js"></script>
    <script src="~/Scripts/admin/services/pictureTypeService.js"></script>
    <script src="~/Scripts/admin/services/pictureService.js"></script>
    <script src="~/Scripts/admin/services/utilityServices.js"></script>
    <script src="~/Scripts/admin/services/articleGroupService.js"></script>
    <script src="~/Scripts/admin/services/articleService.js"></script>
    <script src="~/Scripts/admin/services/articleTypeService.js"></script>
    <script src="~/Scripts/admin/services/userServices.js"></script>
    <script src="~/Scripts/admin/services/userPageService.js"></script>
    <script src="~/Scripts/admin/services/userRoleService.js"></script>
    <script src="~/Scripts/admin/services/advertiseService.js"></script>
    <script src="~/Scripts/admin/services/supportService.js"></script>
    <script src="~/Scripts/admin/services/supportTypeService.js"></script>
    <script src="~/Scripts/admin/services/fileTypeService.js"></script>
    <script src="~/Scripts/admin/services/fileService.js"></script>
    <script src="~/Scripts/admin/services/videoTypeService.js"></script>
    <script src="~/Scripts/admin/services/videoService.js"></script>
    <script src="~/Scripts/admin/services/customerService.js"></script>
    <script src="~/Scripts/admin/services/orderService.js"></script>
    <script src="~/Scripts/admin/services/productGroupAttributeService.js"></script>
    <script src="~/Scripts/admin/services/productAttributeService.js"></script>
    <script src="~/Scripts/admin/services/productFilterService.js"></script>
    <script src="~/Scripts/admin/services/productLabelService.js"></script>
    <script src="~/Scripts/admin/services/layoutContentService.js"></script>
    <script src="~/Scripts/admin/services/contactService.js"></script>
    <script src="~/Scripts/admin/services/receiveInfoService.js"></script>
    <script src="~/Scripts/admin/services/receiveInfoGroupService.js"></script>
    <script src="~/Scripts/admin/services/otherServices.js"></script>
    <script src="~/Scripts/admin/services/articleTypeGroupService.js"></script>
    <script src="~/Scripts/admin/services/productTypeGroupService.js"></script>
    <script src="~/Scripts/admin/services/menuService.js"></script>
    <script src="~/Scripts/admin/services/resourcesServices.js"></script>
    <script src="~/Scripts/admin/services/serviceService.js"></script>
    <script src="~/Scripts/admin/services/stepServiceService.js"></script>
    <script src="~/Scripts/admin/services/groupServiceService.js"></script>
    <script src="~/Scripts/admin/services/detailServiceService.js"></script>
    <!--angular scripts end services-->
    <!--angular scripts controller-->
    <script src="~/Scripts/admin/controller/baseController.js"></script>
    <script src="~/Scripts/admin/controller/layoutController.js"></script>
    <script src="~/Scripts/admin/controller/homeController.js"></script>
    <script src="~/Scripts/admin/controller/productController.js"></script>
    <script src="~/Scripts/admin/controller/productVariantController.js"></script>
    <script src="~/Scripts/admin/controller/productTypeController.js"></script>
    <script src="~/Scripts/admin/controller/productDistributorController.js"></script>
    <script src="~/Scripts/admin/controller/productManufacturerController.js"></script>
    <script src="~/Scripts/admin/controller/productStatusController.js"></script>
    <script src="~/Scripts/admin/controller/pictureTypeController.js"></script>
    <script src="~/Scripts/admin/controller/pictureController.js"></script>
    <script src="~/Scripts/admin/controller/articleController.js"></script>
    <script src="~/Scripts/admin/controller/articleGroupController.js"></script>
    <script src="~/Scripts/admin/controller/articleTypeController.js"></script>
    <script src="~/Scripts/admin/controller/userController.js"></script>
    <script src="~/Scripts/admin/controller/userPageController.js"></script>
    <script src="~/Scripts/admin/controller/userRoleController.js"></script>
    <script src="~/Scripts/admin/controller/advertiseController.js"></script>
    <script src="~/Scripts/admin/controller/supportController.js"></script>
    <script src="~/Scripts/admin/controller/supportTypeController.js"></script>
    <script src="~/Scripts/admin/controller/fileTypeController.js"></script>
    <script src="~/Scripts/admin/controller/fileController.js"></script>
    <script src="~/Scripts/admin/controller/videoTypeController.js"></script>
    <script src="~/Scripts/admin/controller/videoController.js"></script>
    <script src="~/Scripts/admin/controller/customerController.js"></script>
    <script src="~/Scripts/admin/controller/orderController.js"></script>
    <script src="~/Scripts/admin/controller/productGroupAttributeController.js"></script>
    <script src="~/Scripts/admin/controller/productAttributeController.js"></script>
    <script src="~/Scripts/admin/controller/productFilterController.js"></script>
    <script src="~/Scripts/admin/controller/productLabelController.js"></script>
    <script src="~/Scripts/admin/controller/layoutContentController.js"></script>
    <script src="~/Scripts/admin/controller/contactController.js"></script>
    <script src="~/Scripts/admin/controller/receiveInfoGroupController.js"></script>
    <script src="~/Scripts/admin/controller/receiveInfoController.js"></script>
    <script src="~/Scripts/admin/controller/articleTypeGroupController.js"></script>
    <script src="~/Scripts/admin/controller/productTypeGroupController.js"></script>
    <script src="~/Scripts/admin/controller/menuController.js"></script>
    <script src="~/Scripts/admin/controller/resourcesController.js"></script>
    <script src="~/Scripts/admin/controller/settingController.js"></script>
    <script src="~/Scripts/admin/controller/serviceController.js"></script>
    <script src="~/Scripts/admin/controller/stepServiceController.js"></script>
    <script src="~/Scripts/admin/controller/groupServiceController.js"></script>
    <script src="~/Scripts/admin/controller/detailServiceController.js"></script>
    <!--angular scripts end controller-->
    <!--angular scripts directives-->
    <script src="~/Scripts/admin/directives/formDirective.js"></script>
    <script src="~/Scripts/admin/directives/validationsDirective.js"></script>
    <!--angular scripts end services-->
    <!--end angular scripts-->
    <!--basic scripts-->
    <!--[if !IE]>-->
    <script src="/Content/Admin/js/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
    <!--[if IE]>
    <script src="/Content/Admin/js/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if !IE]>-->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/Content/Admin/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!--<![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='/Content/Admin/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='/Content/Admin/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="/Content/Admin/js/bootstrap.min.js"></script>
    <!--page specific plugin scripts-->
    <script src="/Content/Admin/js/jquery.cookie.js"></script>
    <script src="/Content/Admin/js/jquery.dataTables.min.js"></script>
    <script src="/Content/Admin/js/jquery.dataTables.bootstrap.js"></script>
    <script src="/Content/Admin/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="/Content/Admin/js/jquery.hotkeys.min.js"></script>
    <script src="/Content/Admin/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/Content/Admin/js/bootbox.min.js"></script>
    <script src="/Content/Admin/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="/Content/Admin/js/jquery.gritter.min.js"></script>
    <script src="/Content/Admin/js/jquery.validate.min.js"></script>
    <script src="/Content/Admin/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/Content/Admin/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/Content/Admin/js/dropzone.min.js"></script>
    <script src="/Content/Admin/js/jquery.colorbox-min.js"></script>
    <script src="/Content/Admin/js/bootstrap-colorpicker.min.js"></script>
    <script src="/Content/Admin/js/chosen.jquery.min.js"></script>
    <script src="/Content/Admin/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="/Content/Admin/js/date-time/bootstrap-timepicker.min.js"></script>
    <script src="/Content/Admin/js/date-time/daterangepicker.min.js"></script>
    <script src="/Content/Admin/js/jquery.maskedinput.min.js"></script>
    <script src="/Content/Admin/js/jquery.maskMoney.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    @RenderSection("script", required: false)
    <!--ace scripts-->
    <script src="/Content/Admin/js/ace-elements.min.js"></script>
    <script src="/Content/Admin/js/ace.min.js"></script>
    <!--inline scripts related to this page-->
    <script src="/Content/Admin/js/web365.js"></script>
</body>
</html>
