@model IEnumerable<Web365Domain.ArticleItem>
@if (Model != null && Model.Any())
{
    <div class="sp-khcmt">
        <div class="container">
            <h2 class="sp-weltit">Ý kiến khách hàng</h2>
            <div class="swiper-container sp-khcmt-sl">
                <div class="swiper-wrapper">
                    @foreach (var feed in Model)
                    {
                        <div class="swiper-slide">
                            <div class="sp-khcmt-i clearfix">
                                <div class="sp-khcmt-img">
                                    <img src="@Web365Utility.Web365Utility.GetPathPicture(feed.Picture.FileName)" alt="@feed.Title" class="wow flipInX" />
                                </div>
                                <div class="sp-khcmt-info">
                                    <h3 class="sp-khcmt-iname">@feed.Title</h3>
                                    <p class="sp-khcmt-iold">@Html.Raw(feed.Summary)</p>
                                    <div class="sp-khcmt-iwh">
                                        @Html.Raw(feed.Detail)
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="sp-btn-btnpn">
                <div class="sp-khcmt-prev sp-btn-p"></div>
                <div class="sp-khcmt-next sp-btn-n"></div>
            </div>
        </div>
    </div>
}