@helper Page(int totalRecord, int current, int pageSize)
{
    <div class="sp-paging">
        <ul>

            @{ var total = totalRecord % pageSize > 0 ? (totalRecord / pageSize) + 1 : totalRecord / pageSize; }

            @if (current > 1)
            {
                <li>
                    <a href="@Request.Url.AbsolutePath?page=@(current - 1)" title=""><i class="glyphicon glyphicon-menu-left"></i></a> 
                </li>
            }

            @if (total < 6)
            {
                for (int i = 1; i <= total; i++)
                {
                    <li><a class="@(i == current ? "active" : string.Empty)" href="@Request.Url.AbsolutePath?page=@i">@i</a></li>
                }
            }

            @if (current < 3 && total > 5)
            {
                for (int i = 1; i <= 5; i++)
                {
                    <li><a class="@(i == current ? "active" : string.Empty)" href="@Request.Url.AbsolutePath?page=@i">@i</a></li>
                }
            }

            @if (current > total - 2 && total > 5)
            {
                for (int i = total - 5; i <= total; i++)
                {
                    <li><a class="@(i == current ? "active" : string.Empty)" href="@Request.Url.AbsolutePath?page=@i">@i</a></li>
                }
            }

            @if (current > 2 && current < total - 2 && total > 5)
            {
                for (int i = current - 2; i <= current + 2; i++)
                {
                    <li><a class="@(i == current ? "active" : string.Empty)" href="@Request.Url.AbsolutePath?page=@i">@i</a></li>
                }
            }

            @if (current < total)
            {
                <li>
                    <a href="@Request.Url.AbsolutePath?page=@(current + 1)" title=""><i class="glyphicon glyphicon-menu-right"></i></a>
                </li>
            }

        </ul>
    </div>
}